{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" /> <!-- Style-CSS -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet"><!--online fonts-->
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet"><!--online fonts-->
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />    <title>{{ title }}: {{ lo }}</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
</head>
<body>
    <section class="agile-main">
        <div class="agile-head">
            <h1>Crawler Web</h1>
            <p>This is a project to crawl weibo</p>

        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h5 class="panel-title"> @{{ weibo.username }}<small>{{ weibo.timestamp }}</small></h5>
                    </div>
                    <div class="panel-body">
                        {{ weibo.content }}
                    </div>
                    <div class="panel-footer">
                        {{ weibo.location }}<input type="button" onclick="searchByStationName()" value="show map" class="btn btn-default">
                    </div>
                </div>
            </div>
            <br>
        </div>

    </div>

    <div id="allmap" style="position: absolute;
                width: 730px;
                height: 590px;
                margin-left: 560px;
                border: 1px solid gray;
                overflow:hidden;">
    </div>





{#    <script type="text/javascript">#}
{#        // 百度地图API功能#}
{#        var map = new BMap.Map("allmap");  // 创建Map实例#}
{#        map.centerAndZoom("{{ location }}",15);      // 初始化地图,用城市名设置地图中心点#}
{#    </script>#}

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
<script type="text/javascript">
    var map = new BMap.Map("allmap");
    map.centerAndZoom("{{ location }}", 12);
    map.enableScrollWheelZoom();    //启用滚轮放大缩小，默认禁用
    map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用

    map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件
    map.addControl(new BMap.OverviewMapControl()); //添加默认缩略地图控件
    map.addControl(new BMap.OverviewMapControl({ isOpen: true, anchor: BMAP_ANCHOR_BOTTOM_RIGHT }));   //右下角，打开

    var localSearch = new BMap.LocalSearch(map);
    localSearch.enableAutoViewport(); //允许自动调节窗体大小

    function searchByStationName() {
    map.clearOverlays();//清空原来的标注
    var keyword = "{{ locations }}";
    localSearch.setSearchCompleteCallback(function (searchResult) {
        var poi = searchResult.getPoi(0);
{#        document.getElementById("result_").value = poi.point.lng + "," + poi.point.lat;#}
        map.centerAndZoom(poi.point, 16);
        var marker = new BMap.Marker(new BMap.Point(poi.point.lng, poi.point.lat));  // 创建标注，为要查询的地方对应的经纬度
        map.addOverlay(marker);
        var content = {{ locations }} + "<br/><br/>经度：" + poi.point.lng + "<br/>纬度：" + poi.point.lat;
        alert(content);
        var infoWindow = new BMap.InfoWindow("<p style='font-size:14px;'>" + content + "</p>");
        marker.addEventListener("click", function () { this.openInfoWindow(infoWindow); });
        // marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
    });
    localSearch.search(keyword);
}
</script>
</html>